<footer class="site-footer">
  <div class="row">
    <div class="col-md-6">
      <h1>About</h1>
      <p>
        東京在住、フリーランスのプログラマーです。
        最近は、Rails プロジェクトの開発全般（ヒアリング、見積、設計から実装)をしています。
      部分的なお手伝いのご依頼も随時受け付けています。
        お仕事の依頼は、Twitter、メールもしくはお問い合わせフォームからお願いします。
      </p>
      <ul class="list-inline">
        <li>
          <a class="btn-outline btn-social" href='https://twitter.com/tokzk'>
            <i class='fa fa-fw fa-twitter'></i>
          </a>
        </li>
        <li>
          <a class="btn-outline btn-social" href='https://github.com/tokzk'>
            <i class='fa fa-fw fa-github'></i>
          </a>
        </li>
        <li>
          <a class="btn-outline btn-social" href='{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}'>
            <i class='fa fa-fw fa-rss'></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h1>Contact</h1>
      {% include contact-form.html %}
    </div>
  </div>
</footer>
