<ul class="share-post list-inline pull-right">
  <li>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class='btn btn-default btn-xs'>
      <i class="fa fa-twitter"><span>Twitter</span></i>
    </a>
  </li>
  <li>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"" class='btn btn-default btn-xs'>
      <i class='fa fa-facebook'><span>Facebook</span></i>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+" class='btn btn-default btn-xs'>
      <i class='fa fa-google-plus'><span>Google</span></i>
    </a>
  </li>
</ul>
