<ul class="share-post list-inline pull-right">
  <li>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class='btn btn-default btn-xs'>
      <span class="lsf-icon" title="twitter">Twitter</span>
    </a>
  </li>
  <li>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class='btn btn-default btn-xs'>
      <span class="lsf-icon" title="facebook">Facebook</span>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+" class='btn btn-default btn-xs'>
      <span class="lsf-icon" title="google">Google</span>
    </a>
  </li>
  <li>
    <a href="http://b.hatena.ne.jp/entry/{{ site.url }}{{ page.url }}" target="_blank" data-hatena-bookmark-title="{Title}" data-hatena-bookmark-layout="verttical-balloon" title="Share on Hatena Bookmark" class='hatena-bookmark-button btn btn-default btn-xs'>
      <span class="lsf-icon" title="hatenabookmark">Hatena</span>
    </a>
  </li>
</ul>
