@charset "utf-8";

$main-color: #5bc5bf;
$base-color: #f9ecd1;
$accent-color: #ed1d24;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "hyde";
@import "pagination";
@import "form";
@import "overwrite";
