@charset "utf-8";

$main-color: #5bc5bf;
$base-color: #f0e0e0;
$accent-color: #ed1d24;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "fonts";
@import "hyde";
@import "pagination";
@import "form";
@import "jk_amazon";
@import "overwrite";
@import url(http://fonts.googleapis.com/css?family=PT+Sans|Abril+Fatface);
