.contact-form {
  .form-group {
    background: white;
    display: block;
    border: 1px solid #ccc;
    margin: 0;
    border-bottom: none;
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
  .form-group label {
    display: block;
    padding: 0.25em;
    color: #888;
    margin-bottom: 0;
    font-size: .8rem;
    font-weight: normal;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .form-group input,
  .form-group button,
  .form-group textarea {
    display: block;
    border: none;
    font-size: .8rem;
    font-family: sans-serif;
    padding: 0.25rem;
    width: 100%;
  }
  textarea {
    height: 5rem;
    resize: vertical;
  }
}
