body {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 18px;
  background-color: #eee;
}
.posts {
  .post {
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,1);
    margin-bottom: 3em;
    &:last-child {
      border-bottom: none;
    }
  }
}
.content {
  .post {
    .post-title {
      a {
        color: #333;
      }
      margin-bottom: 0;
    }
    .post-date {
      color: #666;
      margin: 1.5rem 0;
      padding: 4px 0;
      border-top: 1px dotted #999;
      border-bottom: 1px dotted #999;
    }

    h1 {
      font-size: 200%;
      font-weight: 900;
      line-height: 1.6;
    }
    h2 {
      font-size: 130%;
      font-weight: bold;
      line-height: 1.25;
      margin: 40px 0 20px 0;
    }
    h3, h4, h5 {
      font-size: 106.6%;
      font-weight: bold;
      line-height: 1.25;
      margin: 35px 0 20px 0;
    }
    p, pre, ul {
      display: block;
      margin: 0 0 20px;
    }
  }
}

