body {
  font-size: 18px;
  background-color: #eee;
}
.posts {
  .post {
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,1);
    margin-bottom: 3em;
    &:last-child {
      border-bottom: none;
    }
  }
}
.content {
  .post {
    .post-title {
      a {
        color: #333;
      }
      margin-bottom: 0;
    }
    .post-date {
      color: #666;
      margin-bottom: 1.5rem;
    }

    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 2rem;
      text-align: center;
      margin: 2rem auto 0;
      padding: 4rem 0;
    }
    h3, h4, h5 {
      font-size: 1.4rem;
      margin: 1.6rem 0;
      padding: 10px 0;
      border-top: 1px dotted #777;
      border-bottom: 1px dotted #777;
    }
    p, pre, ul {
      margin: 0 0 1.6rem;
    }
  }
}

