---
layout: default
---

<div class="post">
  <h1 class="post-title">
    {{ page.title }}
  </h1>
  <div class="post-meta">
    <span class="post-date">{{ page.date | date: "%Y-%m-%d" }}</span>
  </div>

  {{ content }}
</div>

<div class="related">
  <h3>関連記事</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
    </li>
    {% endfor %}
  </ul>
</div>

{% include footer.html %}
